#discoveryworldvido {
  height: 950px;
  width: 100%;
}

.logo {
  position: absolute;
  margin-right: 50%;
  padding-left: 5%;
  padding-bottom: 30px;
  padding-top: 5%;
  width: 300px;
  height: 90px;
  top: 50px;
  left: 80px;
}

.menu {
  position: absolute;
  right: 30px;
  top: 50px;
  word-spacing: 30px;
  padding-bottom: 30px;
  padding-top: 5%;
  padding-right: 8%;
  font-size: 20px;
}

.Message {
  padding-top: 900px;
  font-size: 90px;
  bottom: 30%;
  font-family: Monospace;
  padding-left: 10%;
  position: absolute;
  font-weight: lighter;
}

.worldclass {
  display: flex;
  margin-top: 170px;
}

.worldimg {
  height: 850px;
  width: 40%;
  right: 50px;
}

.content {
  width: 50%;
  font-size: 20px;
  color: grey;
  text-indent: 1px;
  font-weight: lighter;
  font-family: monoscope;
}

.titletag {
  padding: 100px;
  padding-top: 0px;
  padding-left: 25%;
  line-height: 2;
}

.exploreimg {
  height: 350px;
}

.exploreworld {
  position: relative;
  top: 70px;
  padding-top: 70%;
  padding-left: 20%;
  line-height: 0.8;
  word-spacing: 3px;
  font-weight: lighter;
}

.exploreworldtag {
  position: absolute;
  padding-left: 10%;
}

.expheadingtag {
  font-size: 50px;
  font-weight: 100;
  padding-top: 80%;
}

.explayout {
  height: 700px;
  width: 100%;

}

.tag {
  position: absolute;
  padding-left: 10%;
  padding-top: 30%;
  color: white;
  font-size: 50px;
  font-weight: 100;
}

/* Animation Style block */

.animationblock {
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  display: flex;
}

.exploreworld {
  padding-top: 10%;
}

.slidingimg {
  height: 1000px;
  width: 500px;
  padding: 15px;
  padding-top: 70%;
}

.naming {
  position: absolute;
  top: 71%;
  color: white;
  font-size: 40px;
  font-weight: 10;
  padding-left: 50px;

}


.slideshow {
  padding-bottom: 1%;
}

.editingcolor {
  color: white;
  font-size: 25px;
  position: absolute;
  padding-top: 900px;
  padding-left: 60px;

}

.movingimg {
  animation: moveSlideshow 90s linear infinite;
  display: flex;
}

@keyframes moveSlideshow {
  100% {
    transform: translateX(-66.6666%);
  }
}

.expimg {
  width: 33.3%;

}


.footer {
  background: rgb(11, 27, 24);
  color: white;
  width: 100%;
  display: flex;
  padding: 150px 0px;
  font-size: 17px;
  font-family: sans-serif;
  flex-wrap: wrap;
  padding-top: 10%;
  padding-bottom: 13%;
  line-break: auto;
}

.copyrights {
  width: 50%;
}

ul {
  list-style-type: none;
}

li {
  padding: 5px;
}

.icon {
  height: 80px;
  width: 100px;
  padding-left: 50px;
  padding-top: 1%;
}

.items {
  padding-right: 5%;
}

.mail {
  text-decoration: underline;
}

.copy {
  padding-left: 5%;
}

copy:hover {
  text-decoration: underline;
}

/* lands of discovery */
.headingtag {
  padding-left: 10%;
  font-size: 10%;
  font-weight: 100;
}

.subtitle {
  font-size: 70px;
  font-weight: lighter;
}

.landblock {
  background-color: whitesmoke;
}

.biotag {
  color: grey;
  font-size: 20px;
  padding-top: 5%;
  line-height: 2;
  font-weight: lighter;
}

.elements {
  padding-top: 5%;
  font-size: 20px;
  word-spacing: 40px;
  font-weight: lighter;
}

.country {
  word-spacing: 50px;
  padding-bottom: 5%;
}

.wordspace {
  word-spacing: 30px;
}

.givemeasure {
  width: 70%;
}

.globeblock {
  background-color: whitesmoke;
  position: relative;

}

.onclick {
  position: absolute;
}

/* .previousclass {
  position: absolute;
  left: 79px;
  top:90px;
  background: rgb(11, 27, 24);
  color: white;
  font-size: 20px;
}

.nextclass {
  position: absolute;
  top:90px;
  left: 200px;
  background: rgb(11, 27, 24);
  color: white;
  font-size: 20px;
} */

.caroselclass {

  position: absolute;
  top: 0;
  background: rgb(11, 27, 24);
  height: 800px;
  width: 900px;
  left: 780px;

}

.carouselimage {
  width: 35% !important;
  height: 1000px !important;
  left: 540px;
  bottom: 80px;

}

.imagemeasure {
  position: absolute;
  height: 770px;
  top: 40px;

}

.cardinfo {
  position: absolute;
  top: 2%;
  padding-top: 250%;
  font-size: 50px;

  height: 10px;
  color: white;
}

.cardbgcolor {
  background-color: black;
}

.dynamicclass {
  position: absolute;
  bottom: 10px;
  width: 100%;
  color: white;
}

.title {
  font-size: 50px;
  font-weight: lighter;
  position: relative;
}

.description {
  color: grey;
  font-size: 20px;

}

.prevnxtclass {
  margin: 100px;
}

.displayicons {
  display: flex;
  margin: 100px;
  justify-content: space-between;
  width: 40%;
}

.previousclass,
.nextclass {
  background-color: transparent;
  color: white;
  font-size: 50px;
  border: none;

}

.contentdisplay {
  margin: 100px;
}

.mappingclass {
  margin: 100px;
}

.rowimg {
  display: flex;
}

.weatherclass {
  top: 400px;
}

.location {
  display: inline;
}

#map {
  display: inline;
}


