body {
  box-sizing: border-box;
  margin: 0;
  background-color: black;
}

.container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 0;
  padding: 0;
}

.block1 {
  grid-column: 1 / span 3;
  width: 100%;
  height: 65vh;
}

.logo {
  position: absolute;
  margin-right: 50%;
  padding-left: 5%;
  top: 90px;
  width: 200px;
  height: 70px;

  left: 80px;
}

.image1 {
  height: 100%;
  width: 100%;
}

.Name {
  font-size: xx-large;
  background-color: black;
  color: white;
  height: 200px;
  padding: auto 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: lighter;
}

.images {
  width: 100%;
  height: 350px;
}

.menu {
  position: absolute;
  right: 150px;
  top: 100px;
  word-spacing: 35px;
  padding-bottom: 500px;
  font-size: 20px;
  font-weight: 100;
}

a:hover {
  text-decoration: underline;
}

.text {
  position: absolute;
  top: 200px;
  left: 200px;
  color: white;
  font-size: 70px;
  font-family: gt-sectra;
  font-weight: lighter;
}

.footer {
  background: rgb(11, 27, 24);
  color: white;
  width: 100%;
  display: flex;
  padding: 100px 0px;
  font-size: 17px;
  font-family: sans-serif;
  flex-wrap: wrap;
  padding-top: 10%;
}

.copyrights {
  width: 50%;
}

ul {
  list-style-type: none;
}

li {
  padding: 8px;
}

.icon {
  height: 80px;
  width: 80px;
  padding-left: 20%;
  padding-top: 5%;
}

.items {
  padding-right: 5%;
}

.mail {
  text-decoration: underline;
}

.copy {
  padding-left: 9.5%;
}

copy:hover {
  text-decoration: underline;
}
