body {
  background-color: black;
}

.block1 {
  /* grid-gap: 40px;
    display: grid;
    grid-template-columns: auto auto auto auto; 
    padding-left: 1%;
    padding-right: 1%;
    flex-wrap: wrap; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.bio {
  width: 100%;
  height: 30%;
  font-size: 20px;
  color: white;
  height: 200px;
  text-align: left;
  padding-top: 8%;
  line-height: 0.8;
  /* padding-bottom: 5%; */
}

.lineediting {
  color: grey;
  margin-top: 17px;
}

.menu {
  height: 325px;
  word-spacing: 30px;
  padding: 0px 5%;
  font-size: 20px;
  padding-top: 100px;
}

.rowbar {
  float: right;
}

.allimages {
  width: 23%;
  padding: 1%;
}

.images {
  width: 100%;
  height: 200px;
}

.footer {
  background: rgb(11, 27, 24);
  color: white;
  width: 100%;
  display: flex;
  padding: 100px 0px;
  font-size: 17px;
  font-family: sans-serif;
  flex-wrap: wrap;
  padding-top: 5%;
}

.copyrights {
  width: 50%;
}

.icon {
  height: 80px;
  width: 80px;
  padding-left: 20%;
  padding-top: 5%;
}

.items {
  padding-right: 5%;
}

.copy {
  padding-left: 9.5%;
}

ul {
  list-style-type: none;
}

li {
  padding: 10px;
}

.mail {
  text-decoration: underline;
}

.row2 {
  width: 10%;
  height: 10%;
  font-size: 35px;
  color: white;
  height: 200px;
  text-align: left;
  padding-top: 5%;
  line-height: 0.8;
}

.row3 {
  width: 80%;
  height: 10%;
  font-size: 35px;
  color: white;
  height: 200px;
  text-align: left;
  padding-top: 8%;
  line-height: 0.8;
}

.row5 {
  width: 100%;
  height: 30%;
  font-size: 35px;
  color: white;
  height: 200px;
  text-align: left;
  padding-top: 8%;
  line-height: 0.8;
}
